/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 01-oct-2018, 8:01:30
    Author     : Daw2
*/

a:link{
    text-decoration: none;
    color:white;
}

.imag{
    border-radius: 15px ;
    background: url(../img/12_original.JPG)  no-repeat center ;
    background-size:cover;
    /*    background-size: 1000px 300px;*/
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    text-align: center;
    font-family: 'Cinzel', serif;
    /*    font-family: 'Special Elite', cursive;*/
    font-size: 70px;
    font-weight: 900;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tit{
    transform: rotate(-5deg); /* Standard syntax */
}.menu{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    /*     background-image: linear-gradient(black, red);*/
    background-image: radial-gradient(white, #999999, #333333);
    margin-bottom: 1%;
    margin-right: 5%;
    margin-left: 5%;

}
.anagrama{
}
.ana{
    width: 13%;
}
.opcion{
    border-right: solid 3px;
    border-color: black;
    font-family: cursive;
    font-size: 20px;
    padding: 1%;

}
.grandote{
    display: flex;
    justify-content: center;
    border:solid 5px;
    height: 1000px;
}
.dentro{
    border:solid red;
}









@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}