/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 01-oct-2018, 8:01:30
    Author     : Daw2
*/

body{
    background-color: #cccccc;
}
.imag{
    border-radius: 15px ;
    background: url(../img/12_original.JPG)  no-repeat center ;
    background-size:cover;
    /*    background-size: 1000px 300px;*/
    color: white;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tit{
/*    transform: rotate(-5deg);  Standard syntax */
    text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px black;
    text-align: center;
    font-family: 'Cinzel', serif;
    /*    font-family: 'Special Elite', cursive;*/
    font-size: 35px;
    font-weight: 900;
    background-image: radial-gradient(black, darkred, #cc0000);
}.menu{
    display: flex;
    align-items: center;
    border-radius: 15px;
    /*     background-image: linear-gradient(black, red);*/
    background-image: radial-gradient(white, #999999, #333333);
    margin-bottom: 1%;
    
}
.iz{
    display: flex;
    width: 50%;
}
.ana{
    width: 15%;
    height: 50px;
}
.de{
    display: flex;
    width: 50%;
    justify-content: flex-end;
}

.opcion{
    font-family: cursive;
    font-size: 20px;
    padding: 1%;

}
.grandote{
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    margin-top: 1%;
    
/*    border:solid 5px;*/
}
.ete{
    display: flex;
    flex-direction: row;
}
.menuReal{
    display: flex;
    flex-direction:column;
    background: black;    
    border-radius: 15px;
}
.opMen{
    margin: 1%;
}
.button{
    width: 100%;
    border-radius: 15px;
    background-color: white; /* Green */
    color: black;
    border: solid #333333;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}
.button:hover {
    background-image: radial-gradient(white, #cccccc, #333333);
   
}
.eleg{
    width: 35%;
    border-radius: 15px;
    background-color: white;
    color: black;
    border: solid #333333;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}
.eleg1{
    background-color: #ffcc00; 
    padding: 5%;
    color: black; 
    border: 2px solid #ffcc00;
}
.eleg1:hover {
    border-radius: 15px 35px;
    background-color: white;
    color: #ffcc00;
}
.eleg2{
    background-color: #33ccff; 
    padding: 5%;
    color: black; 
    border: 2px solid #33ccff;
    
}
.eleg2:hover {
    border-radius: 15px 35px;
    background-color: white;
    color: #33ccff;
}
.eleg3{
    background-color: #ff0033; 
    padding: 5%;
    color: black; 
    border: 2px solid #ff0033;
}
.eleg3:hover {
    border-radius: 15px 35px;
    background-color: white;
    color: #ff0033;
}
.Gm{
    display: flex;
    justify-content: flex-end;
}
.Eso{
     display: flex;
      justify-content: center;
}
.Gs{
    display: flex;
      justify-content: flex-start;
}
.derech{
    display: flex;
     border-radius: 15px;
     background-color: #cccccc;
    flex-direction:column;
}
.usuContra{
    display:flex;
     justify-content: center;
    margin-bottom: 2%;
}
.centro{
    border-radius: 15px;
      background-color: white;
}
.carrusel{
    border:solid;
    display:flex;
    flex-direction: row;
}

/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
}