/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 01-oct-2018, 8:01:30
    Author     : Daw2
*/

a:link{
 text-decoration: none;
 color:white;
}

.imag{
    background: url(../img/6_original.JPG) repeat center;
    text-align: center;
    color:red;
    font-family: cursive;
    font-size: 50px;
    border: solid #ff6600 5px;
    width: 99%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tit{
    -ms-transform: rotate(-20deg); /* IE 9 */
    -webkit-transform: rotate(-20deg); /* Safari */
    transform: rotate(-12deg); /* Standard syntax */
}.menu{
    background-color: #666666;
    display: flex;
    margin-bottom: 1%;
    margin-right: 5%;
   margin-left: 5%;
    
}
.opcion{
    border-right: solid 3px;
    border-color: black;
    font-family: cursive;
    font-size: 20px;
    padding: 1%;
    
}